/* Full screen container styling */
#bg-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    /* Ensure the background stays behind other content */
}

/* Gradient background animation */
#bg-effect {
    background: linear-gradient(270deg, #ff7e5f, #feb47b, #ff7e5f, #6a11cb, #2575fc);
    background-size: 1000% 1000%;
    animation: gradientAnimation 20s ease infinite;
}

/* Gradient animation keyframes */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}